.em-matrix {
    width: 100%;
    height: 80vh;
}

.em-box {
    width: 45%;
    height: 45%;
    padding: 5px;
    vertical-align: top;
    border: dashed 2px #4285f4;
}

.em-task {
    width: fit-content;
    margin: 5px;
    padding: 7px 10px 5px 10px;
    border-radius: 4px;
    color: white;
    background-color: #4285f4;
    max-width: 25vw;
    height: 36px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.em-drag-over {
    border-style: solid;
}